table{
    border-collapse: collapse;
    width: 100%;
    height: 50%;
    
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    
}

th{
    background-color: blue;
    color: #ffff;
}

tr:hover {
    background-color: #777777;
}