body{
    background-image: linear-gradient(#636162, #b1afaf);
    height: 122vh;
    font-weight: bold;
    letter-spacing: 2px;
}

*{
    margin: 0px; padding: 0px; font-family: sans-serif;
}

.main{
    background-color: white;
    height:auto;
    width: 650px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
}

.left{
    background-color: #e00909;
    width:300px;
    height:100%;
    float: left;
}
.right{
    width: 350px;
    float:left;
}
.profile-img{
    height: 180px;
    width: 180px;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 60px;
    border: 10px solid  #e00909;
    box-shadow: 6px 7px 9px 5px #e00909;
}

.profile-img img{
	width: 100%;
	border-radius: 50%;
}
.box-1{
    position: relative;
}
.heading{
    background-color:#4d4d4d;
    padding: 10px;
    color: #e00909;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;
}
.heading::after{
    content: '';
    position: absolute;
    width: 21px;
    height: 18px;
    background-color:#5a5959;
    left: 191px;
    top: 26px;
    transform: rotate(56deg);
    z-index: -1;
}
.p1{
    padding: 9px 10px;
    font-size: 14px;
}

.name-div{
    padding: 86px 0px 60px 55px;
	text-align: center;
	letter-spacing: 3px;
}
.name-div h1{
    margin-bottom: 10px;
}
.box-2{
    padding: 0px 50px;
    margin-top: 30px;
}

.p2{
    font-size: 10px;
	font-weight: 300;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 18px;
	margin-top: 5px;
}

h2{
    font-size: 16px;
    margin-bottom: 15px;
}
.p3{
    font-size: 13px;
	word-spacing: 1px;
	letter-spacing: 0px;
	margin-top: 10px;
}
.p3 span{
    color: #ff9b00; padding-left: 20px;
}

.t2{
    padding: 9px 20px;
    font-size: 11px;
    font-weight: 100;
}

.btn1{
    padding: 0px 50px;
    
}

.btn{
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    border: 5px solid red;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    transition: all 0.5s;
}
.btn:hover{
    box-shadow: 1px 1px 0, 2px 2px 0, 3px 3px 0, 
    4px 4px 0, 5px 5px 0, 6px 6px 0;
    background-color: #ffffff;
    color: red;
}
